
@font-face {
  font-family: 'bodoni';
  src: url('../fonts/bodoni/BodoniFLF-Roman.woff2') format('woff2'),
      url('../fonts/bodoni/BodoniFLF-Roman.woff') format('woff'),
      url('../fonts/bodoni/BodoniFLF-Roman.ttf') format('truetype'),
      url('../fonts/bodoni/BodoniFLF-Roman.svg#BodoniFLF-Roman') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'bodoni-bold';
  src: url('../fonts/bodoni/BodoniFLF-Bold.woff2') format('woff2'),
      url('../fonts/bodoni/BodoniFLF-Bold.woff') format('woff'),
      url('../fonts/bodoni/BodoniFLF-Bold.ttf') format('truetype'),
      url('../fonts/bodoni/BodoniFLF-Bold.svg#BodoniFLF-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis-light';
  src: url('../fonts/metropolis/Metropolis-Light.woff2') format('woff2'),
      url('../fonts/metropolis/Metropolis-Light.woff') format('woff'),
      url('../fonts/metropolis/Metropolis-Light.ttf') format('truetype'),
      url('../fonts/metropolis/Metropolis-Light.svg#Metropolis-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis-bold';
  src: url('../fonts/metropolis/Metropolis-Bold.woff2') format('woff2'),
      url('../fonts/metropolis/Metropolis-Bold.woff') format('woff'),
      url('../fonts/metropolis/Metropolis-Bold.ttf') format('truetype'),
      url('../fonts/metropolis/Metropolis-Bold.svg#Metropolis-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis-regular';
  src: url('../fonts/metropolis/Metropolis-Regular.woff2') format('woff2'),
      url('../fonts/metropolis/Metropolis-Regular.woff') format('woff'),
      url('../fonts/metropolis/Metropolis-Regular.ttf') format('truetype'),
      url('../fonts/metropolis/Metropolis-Regular.svg#Metropolis-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis-medium';
  src: url('../fonts/metropolis/Metropolis-Medium.woff2') format('woff2'),
      url('../fonts/metropolis/Metropolis-Medium.woff') format('woff'),
      url('../fonts/metropolis/Metropolis-Medium.ttf') format('truetype'),
      url('../fonts/metropolis/Metropolis-Medium.svg#Metropolis-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


  
  @font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?k9lmos3');
    src:  url('../fonts/icomoon/icomoon.eot?k9lmos3#iefix') format('embedded-opentype'),
      url('../fonts/icomoon/icomoon.ttf?k9lmos3') format('truetype'),
      url('../fonts/icomoon/icomoon.woff?k9lmos3') format('woff'),
      url('../fonts/icomoon/icomoon.svg?k9lmos3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.icon-chevron-thin-up:before {
  content: "\e902";
}
.icon-chevron-thin-right:before {
  content: "\e904";
}
.icon-chevron-thin-left:before {
  content: "\e905";
}
.icon-location-shopping:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e906";
}
.icon-chevron-right:before {
  content: "\e903";
}
.icon-chevron-left:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e971";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest:before {
  content: "\ead1";
}
