@import '_variables';
@import '_reset.scss';


body {
    font-family: Helvetica;
    color: $dark;
    overflow-x: hidden;
    background-color: #fff;
    transition: background-color 1s ease;
}


:root {
    --theme-color: $white;
}

.container {
    width: 100%;
    max-width: 1400px;
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
}

.regular-container {
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
}

.img-responsive {
    width: 100%;
    max-width: 100%;
    display: block;
}





.btn {
    outline: none;
    transition: all .3s ease;

    &-bold {
        font-weight: bold;
    }


    &:hover {
        opacity: .9;
    }

    &.btn-white {
        background: $white;
        color: $black;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 0;
    }

    &.btn-dark {
        background: $dark;
        color: $white;
        padding: 10px 25px;
        border: none;
        outline: none;
        border-radius: 0;
    }

}




.line-content{
    
    &::before {
        content: "";
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        max-width: 1100px;
        height: 1px;
        background: #bababa;
    }
}


.section-horizontal-list {
    position: relative;
    width: 100%;
    height: 331px;

    

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 65%;
        height: 100%;
        background: #bababa;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }

        &.right {
            left: auto;
            right: 0;
        }
    }

    .content-wrapper {
        width: 100%;
        margin: 0 auto;
        height: 100%;
    }

    .content {
        display: flex;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        height: 100%;
        overflow: hidden;
        width: 40.5%;
        margin-left: 59.5%;
        padding-right: 6.25%;

        &.left {
            margin-left: 0;
            padding-right: 0;
            margin-right: 59.5%;
            padding-left: 6.25%;

            .content-inline {
                margin-right: 37%;
                margin-left: 0;
            }
        }
    }

    .content-inline {
        display: flex;
        align-content: center;
        width: 100%;
        height: 100%;
        margin-left: 37.5%;
        flex-wrap: wrap;

        h4 {
            display: block;
            width: 100%;
            margin-bottom: 10px;

            &.metropolis-head {
                font-family: 'Metropolis-regular';
                font-size: 23px;
            }

            &.bodoni-head {
                font-family: 'bodoni-bold';
                font-size: 40px;
            }
        }

        p {
            font-size: 12px;
            margin-bottom: 10px;
        }

        a {
            color: $dark;
            font-size: 12px;
            font-weight: bold;
            text-decoration: underline;
        }
    }
}

.global-head {
    margin-bottom: 30px;

    .list-title {
        font-size: 22px;
        font-weight: bold;
    }

    .list-desc {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 2px;
    }
}

.product-list {
    width: 100%;
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;



    .product-item {
        width: 50%;
        padding: 0 15px;
        margin-bottom: 50px;
        text-align: center;

        img {
            max-width: 100%;
            margin-bottom: 15px;
        }

        h4 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 7px;
            text-transform: uppercase;
        }

        h5 {
            font-size: 16px;
            margin-bottom: 10px;
        }

    }


}

.brand-list{
    position: relative;
    margin: 60px auto;
    padding: 0 20px;

    .brand-item{
        text-align: center;

        &-list{
            padding-top: 30px;
        }
        img{
            max-width: 100%;
            margin-bottom: 10px;
        }

        h5{
            font-size: 16px;
            text-transform: uppercase;
        }
    }
}





@media (max-width: 992px) {
    .section-horizontal-list {
        .content-inline {
            h4 {
                &.metropolis-head {
                    font-size: 18px;
                }

                &.bodoni-head {
                    font-size: 30px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .section-horizontal-list {
        padding: 0 15px;
        height: auto;

        .background {
            position: relative;
            width: 100%;
            height: auto;

            img {
                height: auto;
                object-fit: initial;
                object-position: initial;
            }
        }

        .content-wrapper {
            height: auto;
        }

        .content {
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;

            &.left {
                margin: 0;
                padding: 0;
            }
        }

        .content-inline {
            display: block;
            width: 100%;
            height: auto;
            margin: 0;
            padding: 15px;

            h4 {
                margin-bottom: 7px;

                &.metropolis-head {
                    font-size: 18px;
                }

                &.bodoni-head {
                    font-size: 30px;
                }
            }
        }
    }


    .global-head {
        margin-bottom: 30px;

        .list-title {
            font-size: 20px;
            font-weight: bold;
        }

        .list-desc {
            font-size: 13px;
            font-weight: 300;
            letter-spacing: 2px;
        }
    }
}

@media (max-width: 576px){

.product-list {
    padding: 0 25px;



    .product-item {
        width: 100%;

        

        h4 {
            font-size: 15px;
            margin-bottom: 5px;
        }

        h5 {
            font-size: 13px;
            margin-bottom: 5px;

        }

        .btn{
            font-size: 13px;
            padding: 7px 18px;
        }

    }


}

}