@import '_variables';

@include responsive(ipad){
    .container{
        max-width: 1024px;
    }
}


// responsive ipad mini 

@include responsive(tablet){
    

}


// responsive mobile 

@include responsive(mobile){

    
}