//Reset
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

abbr,
acronym {
    border: 0;
}

input {
    border: none;
}

textarea,
input[type="text"],
input[type="button"],
input[type="search"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}

img {
    display: block;
}

*:before,
*:after {
    box-sizing: inherit ;
}

a:active,
a:focus,
input,
button,
select,
textarea {
    outline: none;
}


a {
    transition: all .2s ease;
}


a,
a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

::selection{
    background: #2d2d2d;
    color: #fff;
    text-shadow: 0 1px 3px #2d2d2d;
}


.hide{
    display: none !important;
}

.show{
    display: block !important;
}

iframe{
    display: block;
}