@import '_mixin';



$red: #ed1c24;
$black: #000;
$darkB: #231f20;


$green: #afd57a;
$yellow: #ffd042;
$dark: #222222;
$blue: #1959a8;
$purple: #0a0a0a;
$pink: #ce8bbd;
$orange: #f8a88e;
$white: #fff;

$arial: 'arial';
