@font-face {
  font-family: 'bodoni';
  src: url("../fonts/bodoni/BodoniFLF-Roman.woff2") format("woff2"), url("../fonts/bodoni/BodoniFLF-Roman.woff") format("woff"), url("../fonts/bodoni/BodoniFLF-Roman.ttf") format("truetype"), url("../fonts/bodoni/BodoniFLF-Roman.svg#BodoniFLF-Roman") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'bodoni-bold';
  src: url("../fonts/bodoni/BodoniFLF-Bold.woff2") format("woff2"), url("../fonts/bodoni/BodoniFLF-Bold.woff") format("woff"), url("../fonts/bodoni/BodoniFLF-Bold.ttf") format("truetype"), url("../fonts/bodoni/BodoniFLF-Bold.svg#BodoniFLF-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Metropolis-light';
  src: url("../fonts/metropolis/Metropolis-Light.woff2") format("woff2"), url("../fonts/metropolis/Metropolis-Light.woff") format("woff"), url("../fonts/metropolis/Metropolis-Light.ttf") format("truetype"), url("../fonts/metropolis/Metropolis-Light.svg#Metropolis-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Metropolis-bold';
  src: url("../fonts/metropolis/Metropolis-Bold.woff2") format("woff2"), url("../fonts/metropolis/Metropolis-Bold.woff") format("woff"), url("../fonts/metropolis/Metropolis-Bold.ttf") format("truetype"), url("../fonts/metropolis/Metropolis-Bold.svg#Metropolis-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Metropolis-regular';
  src: url("../fonts/metropolis/Metropolis-Regular.woff2") format("woff2"), url("../fonts/metropolis/Metropolis-Regular.woff") format("woff"), url("../fonts/metropolis/Metropolis-Regular.ttf") format("truetype"), url("../fonts/metropolis/Metropolis-Regular.svg#Metropolis-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Metropolis-medium';
  src: url("../fonts/metropolis/Metropolis-Medium.woff2") format("woff2"), url("../fonts/metropolis/Metropolis-Medium.woff") format("woff"), url("../fonts/metropolis/Metropolis-Medium.ttf") format("truetype"), url("../fonts/metropolis/Metropolis-Medium.svg#Metropolis-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?k9lmos3");
  src: url("../fonts/icomoon/icomoon.eot?k9lmos3#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?k9lmos3") format("truetype"), url("../fonts/icomoon/icomoon.woff?k9lmos3") format("woff"), url("../fonts/icomoon/icomoon.svg?k9lmos3#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-chevron-thin-up:before {
  content: "\e902"; }

.icon-chevron-thin-right:before {
  content: "\e904"; }

.icon-chevron-thin-left:before {
  content: "\e905"; }

.icon-location-shopping:before {
  content: "\e907"; }

.icon-search:before {
  content: "\e901"; }

.icon-menu:before {
  content: "\e906"; }

.icon-chevron-right:before {
  content: "\e903"; }

.icon-chevron-left:before {
  content: "\e900"; }

.icon-user:before {
  content: "\e971"; }

.icon-heart:before {
  content: "\e9da"; }

.icon-facebook:before {
  content: "\ea90"; }

.icon-instagram:before {
  content: "\ea92"; }

.icon-twitter:before {
  content: "\ea96"; }

.icon-rss:before {
  content: "\ea9b"; }

.icon-linkedin2:before {
  content: "\eaca"; }

.icon-pinterest:before {
  content: "\ead1"; }

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal; }

ol,
ul {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

abbr,
acronym {
  border: 0; }

input {
  border: none; }

textarea,
input[type="text"],
input[type="button"],
input[type="search"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0; }

img {
  display: block; }

*:before,
*:after {
  box-sizing: inherit; }

a:active,
a:focus,
input,
button,
select,
textarea {
  outline: none; }

a {
  transition: all .2s ease; }

a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none; }

* {
  box-sizing: border-box; }

::selection {
  background: #2d2d2d;
  color: #fff;
  text-shadow: 0 1px 3px #2d2d2d; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

iframe {
  display: block; }

body {
  font-family: Helvetica;
  color: #222222;
  overflow-x: hidden;
  background-color: #fff;
  transition: background-color 1s ease; }

:root {
  --theme-color: $white; }

.container {
  width: 100%;
  max-width: 1400px;
  position: relative;
  margin: 0 auto;
  padding: 0 15px; }

.regular-container {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding: 0 15px; }

.img-responsive {
  width: 100%;
  max-width: 100%;
  display: block; }

.btn {
  outline: none;
  transition: all .3s ease; }
  .btn-bold {
    font-weight: bold; }
  .btn:hover {
    opacity: .9; }
  .btn.btn-white {
    background: #fff;
    color: #000;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 0; }
  .btn.btn-dark {
    background: #222222;
    color: #fff;
    padding: 10px 25px;
    border: none;
    outline: none;
    border-radius: 0; }

.line-content::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  max-width: 1100px;
  height: 1px;
  background: #bababa; }

.section-horizontal-list {
  position: relative;
  width: 100%;
  height: 331px; }
  .section-horizontal-list .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    background: #bababa;
    overflow: hidden; }
    .section-horizontal-list .background img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top; }
    .section-horizontal-list .background.right {
      left: auto;
      right: 0; }
  .section-horizontal-list .content-wrapper {
    width: 100%;
    margin: 0 auto;
    height: 100%; }
  .section-horizontal-list .content {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
    overflow: hidden;
    width: 40.5%;
    margin-left: 59.5%;
    padding-right: 6.25%; }
    .section-horizontal-list .content.left {
      margin-left: 0;
      padding-right: 0;
      margin-right: 59.5%;
      padding-left: 6.25%; }
      .section-horizontal-list .content.left .content-inline {
        margin-right: 37%;
        margin-left: 0; }
  .section-horizontal-list .content-inline {
    display: flex;
    align-content: center;
    width: 100%;
    height: 100%;
    margin-left: 37.5%;
    flex-wrap: wrap; }
    .section-horizontal-list .content-inline h4 {
      display: block;
      width: 100%;
      margin-bottom: 10px; }
      .section-horizontal-list .content-inline h4.metropolis-head {
        font-family: 'Metropolis-regular';
        font-size: 23px; }
      .section-horizontal-list .content-inline h4.bodoni-head {
        font-family: 'bodoni-bold';
        font-size: 40px; }
    .section-horizontal-list .content-inline p {
      font-size: 12px;
      margin-bottom: 10px; }
    .section-horizontal-list .content-inline a {
      color: #222222;
      font-size: 12px;
      font-weight: bold;
      text-decoration: underline; }

.global-head {
  margin-bottom: 30px; }
  .global-head .list-title {
    font-size: 22px;
    font-weight: bold; }
  .global-head .list-desc {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px; }

.product-list {
  width: 100%;
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap; }
  .product-list .product-item {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 50px;
    text-align: center; }
    .product-list .product-item img {
      max-width: 100%;
      margin-bottom: 15px; }
    .product-list .product-item h4 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 7px;
      text-transform: uppercase; }
    .product-list .product-item h5 {
      font-size: 16px;
      margin-bottom: 10px; }

.brand-list {
  position: relative;
  margin: 60px auto;
  padding: 0 20px; }
  .brand-list .brand-item {
    text-align: center; }
    .brand-list .brand-item-list {
      padding-top: 30px; }
    .brand-list .brand-item img {
      max-width: 100%;
      margin-bottom: 10px; }
    .brand-list .brand-item h5 {
      font-size: 16px;
      text-transform: uppercase; }

@media (max-width: 992px) {
  .section-horizontal-list .content-inline h4.metropolis-head {
    font-size: 18px; }
  .section-horizontal-list .content-inline h4.bodoni-head {
    font-size: 30px; } }

@media (max-width: 767px) {
  .section-horizontal-list {
    padding: 0 15px;
    height: auto; }
    .section-horizontal-list .background {
      position: relative;
      width: 100%;
      height: auto; }
      .section-horizontal-list .background img {
        height: auto;
        object-fit: initial;
        object-position: initial; }
    .section-horizontal-list .content-wrapper {
      height: auto; }
    .section-horizontal-list .content {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0; }
      .section-horizontal-list .content.left {
        margin: 0;
        padding: 0; }
    .section-horizontal-list .content-inline {
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 15px; }
      .section-horizontal-list .content-inline h4 {
        margin-bottom: 7px; }
        .section-horizontal-list .content-inline h4.metropolis-head {
          font-size: 18px; }
        .section-horizontal-list .content-inline h4.bodoni-head {
          font-size: 30px; }
  .global-head {
    margin-bottom: 30px; }
    .global-head .list-title {
      font-size: 20px;
      font-weight: bold; }
    .global-head .list-desc {
      font-size: 13px;
      font-weight: 300;
      letter-spacing: 2px; } }

@media (max-width: 576px) {
  .product-list {
    padding: 0 25px; }
    .product-list .product-item {
      width: 100%; }
      .product-list .product-item h4 {
        font-size: 15px;
        margin-bottom: 5px; }
      .product-list .product-item h5 {
        font-size: 13px;
        margin-bottom: 5px; }
      .product-list .product-item .btn {
        font-size: 13px;
        padding: 7px 18px; } }

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  opacity: .7;
  transition: all .3s ease; }
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    opacity: 1; }
  .swiper-button-next:hover, .swiper-button-next:focus,
  .swiper-button-prev:hover,
  .swiper-button-prev:focus {
    border: none;
    outline: none; }
  .swiper-button-next.disc-button,
  .swiper-button-prev.disc-button {
    background: #222222;
    font-size: 10px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    text-align: center; }
    .swiper-button-next.disc-button::after,
    .swiper-button-prev.disc-button::after {
      font-size: 20px; }

.swiper-button-prev {
  left: 40px; }
  .swiper-button-prev.disc-button {
    left: 10px; }

.swiper-button-next {
  right: 40px; }
  .swiper-button-next.disc-button {
    right: 10px; }

@media (max-width: 768px) {
  .swiper-button-prev {
    left: 20px; }
  .swiper-button-next {
    right: 20px; } }

@media (max-width: 576px) {
  .swiper-button-prev {
    left: 10px; }
  .swiper-button-next {
    right: 10px; } }

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  overflow: hidden; }
  header .header-inner {
    width: 100%;
    max-width: 1730px;
    margin: 0 auto;
    padding: 80px 80px 0; }
  header .nav-header {
    display: flex;
    flex-wrap: wrap; }
  header .logo {
    width: 50%; }
    header .logo img {
      max-width: 205px;
      filter: brightness(0) invert(1); }
  header .search {
    width: 50%;
    text-align: right;
    color: #fff;
    font-size: 14px; }
    header .search .search-form {
      display: inline-block;
      position: relative; }
    header .search input {
      background: transparent;
      width: 100%;
      border-bottom: 1px solid #fff;
      position: absolute;
      left: 0;
      top: 0;
      color: #fff;
      padding: 2px 7px; }
  header .menu {
    width: 100%;
    display: flex; }
    header .menu .menu-list {
      width: 50%; }
      header .menu .menu-list ul {
        display: flex; }
        header .menu .menu-list ul li {
          margin: 25px 25px 0 0; }
          header .menu .menu-list ul li a {
            color: #fff;
            font-size: 14px;
            font-weight: 300;
            transition: all .3s ease; }
            header .menu .menu-list ul li a:hover {
              opacity: .8; }
            header .menu .menu-list ul li a:hover, header .menu .menu-list ul li a:focus {
              color: #fff;
              text-decoration: none; }
    header .menu .right-menu ul {
      justify-content: flex-end; }
      header .menu .right-menu ul li {
        margin: 25px 0 0 25px;
        font-size: 13px; }

.menu-navigation {
  display: none; }

@media (max-width: 1200px) {
  header .header-inner {
    padding: 40px; }
  header .menu {
    width: 100%;
    display: flex; }
    header .menu .menu-list ul li {
      margin: 25px 25px 0 0; }
      header .menu .menu-list ul li a {
        font-size: 13px; }
    header .menu .right-menu ul li {
      font-size: 12px; } }

@media (max-width: 992px) {
  .menu-navigation {
    display: block;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 2.5rem;
    padding: 0;
    margin-right: 20px;
    line-height: 0; }
    .menu-navigation::before {
      font-family: 'icomoon';
      content: '\e906'; }
    .menu-navigation:hover, .menu-navigation:focus {
      border: none;
      outline: none; }
    .menu-navigation.active {
      color: #1959a8; }
      .menu-navigation.active::before {
        content: '\e900'; }
  header .header-inner {
    padding: 45px 60px; }
  header .menu {
    display: none; }
  header .logo {
    width: auto; }
    header .logo img {
      width: 180px; }
  header .search {
    width: 35%;
    position: absolute;
    right: 60px;
    top: 55px; }
  header.active {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    background: #fff; }
    header.active .menu {
      display: block;
      margin-top: 50px;
      padding-left: 50px; }
      header.active .menu .menu-list {
        width: 100%; }
      header.active .menu ul {
        display: block; }
        header.active .menu ul li {
          width: 100%;
          margin-bottom: 10px;
          font-weight: 400; }
          header.active .menu ul li a {
            color: #1959a8; }
        header.active .menu ul.profile-menu {
          margin-top: 25px;
          border-top: 1px solid #efefef; }
          header.active .menu ul.profile-menu li a {
            color: #222222; }
    header.active .logo img {
      filter: none; }
    header.active .search {
      color: #1959a8; }
      header.active .search input {
        border-bottom: 1px solid #1959a8;
        color: #222222; } }

@media (max-width: 768px) {
  .menu-navigation {
    font-size: 2rem;
    margin-right: 15px; }
    .menu-navigation::before {
      font-family: 'icomoon';
      content: '\e906'; }
    .menu-navigation:hover, .menu-navigation:focus {
      border: none;
      outline: none; }
  header .header-inner {
    padding: 25px; }
  header .logo img {
    width: 150px; }
  header .search {
    width: 35%;
    position: absolute;
    right: 25px;
    top: 20px; }
  header.active .menu {
    display: block;
    margin-top: 30px;
    padding-left: 30px; } }

@media (max-width: 576px) {
  .menu-navigation {
    font-size: 1.7rem;
    margin-right: 10px; }
  header .header-inner {
    padding: 25px 15px; }
  header .logo img {
    width: 120px; }
  header .search {
    width: 40%;
    position: absolute;
    right: 15px;
    top: 20px; }
    header .search span {
      display: none; }
    header .search .search-form {
      display: block; }
  header.active .menu {
    display: block;
    margin-top: 20px;
    padding-left: 20px; }
    header.active .menu ul li {
      margin-bottom: 7px; } }

.section {
  margin-bottom: 60px; }

.homebanner_slider {
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.homebanner_item {
  object-fit: cover; }

.homebanner video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%); }

.homebanner_text-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .homebanner_text-wrapper span {
    color: #fff;
    font-family: "bodoni";
    text-transform: uppercase;
    line-height: 1; }

.homebanner_text-inner {
  display: flex;
  margin-bottom: 10px; }
  .homebanner_text-inner:first-child {
    padding-bottom: 10px;
    border-bottom: 2px solid #fff; }

.homebanner_big-text {
  font-size: 50px; }
  .homebanner_big-text.letter-spacing {
    letter-spacing: 7px;
    margin-right: -7px; }

.homebanner_small-text {
  margin-left: 12px;
  text-align: left;
  padding-top: 5px; }
  .homebanner_small-text_item {
    display: block;
    font-size: 20px; }
    .homebanner_small-text_item.letter-spacing {
      letter-spacing: 7px;
      margin-right: -7px; }

.homebanner .btn {
  margin-top: 20px;
  font-size: 13px; }

@media (max-width: 1024px) {
  .homebanner_slider {
    height: 55vh; } }

@media (max-width: 992px) {
  .homebanner_slider {
    height: 60vh; } }

@media (max-width: 768px) {
  .homebanner_slider {
    height: 60vh; }
  .homebanner_big-text {
    font-size: 32px; }
    .homebanner_big-text.letter-spacing {
      letter-spacing: 6px;
      margin-right: -6px; }
  .homebanner_small-text {
    padding-top: 2px; }
    .homebanner_small-text_item {
      font-size: 14px; }
      .homebanner_small-text_item.letter-spacing {
        letter-spacing: 5px;
        margin-right: -5px; }
  .homebanner .btn {
    padding: 8px;
    font-size: 14px; } }

@media (max-width: 576px) {
  .homebanner_slider {
    height: 75vh; }
  .homebanner_big-text {
    font-size: 32px; }
    .homebanner_big-text.letter-spacing {
      letter-spacing: 6px;
      margin-right: -6px; }
  .homebanner_small-text {
    padding-top: 2px; }
    .homebanner_small-text_item {
      font-size: 14px; }
      .homebanner_small-text_item.letter-spacing {
        letter-spacing: 5px;
        margin-right: -5px; }
  .homebanner .btn {
    padding: 7px;
    font-size: 12px; } }

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 1024px; } }

/*# sourceMappingURL=maps/style.css.map */
