header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    overflow: hidden;

    .header-inner {
        width: 100%;
        max-width: 1730px;
        margin: 0 auto;
        padding: 80px 80px 0;
    }

    .nav-header {
        display: flex;
        flex-wrap: wrap;
    }

    .logo {
        width: 50%;

        img {
            max-width: 205px;
            filter: brightness(0) invert(1);
        }
    }

    .search {
        width: 50%;
        text-align: right;
        color: $white;
        font-size: 14px;

        .search-form {
            display: inline-block;
            position: relative;
        }

        input {
            background: transparent;
            width: 100%;
            border-bottom: 1px solid #fff;
            position: absolute;
            left: 0;
            top: 0;
            color: $white;
            padding: 2px 7px;
        }
    }

    .menu {
        width: 100%;
        display: flex;

        .menu-list {
            width: 50%;

            ul {
                display: flex;

                li {
                    margin: 25px 25px 0 0;

                    a {
                        color: $white;
                        font-size: 14px;
                        font-weight: 300;
                        transition: all .3s ease;

                        &:hover {
                            opacity: .8;
                        }

                        &:hover,
                        &:focus {
                            color: $white;
                            text-decoration: none;
                        }
                    }
                }
            }

        }

        .right-menu {
            ul {
                justify-content: flex-end;

                li {
                    margin: 25px 0 0 25px;
                    font-size: 13px;
                }
            }
        }
    }
}

.menu-navigation {
    display: none;
}

@media (max-width: 1200px) {

    header {
        .header-inner {
            padding: 40px;
        }


        .menu {
            width: 100%;
            display: flex;

            .menu-list {

                ul {

                    li {
                        margin: 25px 25px 0 0;

                        a {
                            font-size: 13px;

                        }
                    }
                }

            }

            .right-menu {
                ul {

                    li {
                        font-size: 12px;
                    }
                }
            }
        }

    }
}





@media (max-width: 992px) {
    .menu-navigation {
        display: block;
        background: transparent;
        border: none;
        outline: none;
        color: $white;
        font-size: 2.5rem;
        padding: 0;
        margin-right: 20px;
        line-height: 0;

        &::before {
            font-family: 'icomoon';
            content: '\e906';
        }

        &:hover,
        &:focus {
            border: none;
            outline: none;
        }

        &.active {
            color: $blue;

            &::before {
                content: '\e900';
            }
        }

    }

    header {
        .header-inner {
            padding: 45px 60px;
        }

        .menu {
            display: none;


        }

        .logo {
            width: auto;

            img {
                width: 180px;
            }

        }

        .search {
            width: 35%;
            position: absolute;
            right: 60px;
            top: 55px;

        }

        &.active {
            display: block;
            position: fixed;
            width: 100%;
            height: 100%;
            right: 0;
            bottom: 0;
            background: $white;

            .menu {
                display: block;
                margin-top: 50px;
                padding-left: 50px;

                .menu-list {
                    width: 100%;
                }

                ul {
                    display: block;

                    li {
                        width: 100%;
                        margin-bottom: 10px;
                        font-weight: 400;

                        a {
                            color: $blue;
                        }
                    }

                    &.profile-menu {
                        margin-top: 25px;
                        border-top: 1px solid #efefef;

                        li {
                            a {
                                color: $dark;
                            }
                        }
                    }
                }
            }

            .logo {
                img {
                    filter: none;
                }
            }

            .search {
                color: $blue;



                input {
                    border-bottom: 1px solid $blue;
                    color: $dark;
                }
            }

        }
    }
}



@media (max-width: 768px) {
    .menu-navigation {

        font-size: 2rem;
        margin-right: 15px;


        &::before {
            font-family: 'icomoon';
            content: '\e906';
        }

        &:hover,
        &:focus {
            border: none;
            outline: none;
        }

    }

    header {
        .header-inner {
            padding: 25px;
        }



        .logo {

            img {
                width: 150px;
            }
        }

        .search {
            width: 35%;
            position: absolute;
            right: 25px;
            top: 20px;



        }


        &.active {
            .menu {
                display: block;
                margin-top: 30px;
                padding-left: 30px;
            }

        }
    }
}


@media (max-width: 576px) {
    .menu-navigation {
        font-size: 1.7rem;
        margin-right: 10px;
    }

    header {
        .header-inner {
            padding: 25px 15px;
        }



        .logo {

            img {
                width: 120px;
            }
        }

        .search {
            width: 40%;
            position: absolute;
            right: 15px;
            top: 20px;

            span {
                display: none;
            }

            .search-form {
                display: block;
            }
        }

        &.active {
            .menu {
                display: block;
                margin-top: 20px;
                padding-left: 20px;

                ul {

                    li {
                        margin-bottom: 7px;


                    }
                }
            }

        }
    }
}