.section {
  margin-bottom: 60px;
}

.homebanner {

  &_slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  &_item {
    object-fit: cover;
  }

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
  }

  &_text-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    span {
      color: $white;
      font-family: "bodoni";
      text-transform: uppercase;
      line-height: 1;
    }
  }

  &_text-inner {
    display: flex;
    margin-bottom: 10px;

    &:first-child {
      padding-bottom: 10px;
      border-bottom: 2px solid $white;
    }
  }

  &_big-text {
    font-size: 50px;

    &.letter-spacing {
      letter-spacing: 7px;
      margin-right: -7px;

    }
  }

  &_small-text {
    margin-left: 12px;
    text-align: left;
    padding-top: 5px;

    &_item {
      display: block;
      font-size: 20px;

      &.letter-spacing {
        letter-spacing: 7px;
        margin-right: -7px;
      }
    }
  }

  .btn {
    margin-top: 20px;
    font-size: 13px;
  }


}

@media (max-width: 1024px) {
  .homebanner {

    &_slider {
      height: 55vh;
    }

  }
}



@media (max-width: 992px) {
  .homebanner {

    &_slider {
      height: 60vh;
    }

  }
}



@media (max-width: 768px) {
  .homebanner {

    &_slider {
      height: 60vh;
    }

    &_big-text {
      font-size: 32px;
      &.letter-spacing {
        letter-spacing: 6px;
        margin-right: -6px;
      }
    }

    &_small-text {
      padding-top: 2px;
      &_item{
        font-size: 14px;
        &.letter-spacing {
          letter-spacing: 5px;
          margin-right: -5px;
        }
      }
    }

    .btn {
      padding: 8px;
      font-size: 14px;
    }
  }
}



@media (max-width: 576px) {
  .homebanner {

    &_slider {
      height: 75vh;
    }

    &_big-text {
      font-size: 32px;
      &.letter-spacing {
        letter-spacing: 6px;
        margin-right: -6px;
      }
    }

    &_small-text {
      padding-top: 2px;
      &_item{
        font-size: 14px;
        &.letter-spacing {
          letter-spacing: 5px;
          margin-right: -5px;
        }
      }
    }

    .btn {
      padding: 7px;
      font-size: 12px;
    }
  }
}