
.swiper-button-next,
.swiper-button-prev {
    color: $white;
    opacity: .7;
    transition: all .3s ease;

    &:hover {
        opacity: 1;
    }

    &:hover,
    &:focus {
        border: none;
        outline: none;
    }

    &.disc-button{
        background: $dark;
        font-size: 10px;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        text-align: center;

        &::after{
            font-size: 20px;
        }
    }
}

.swiper-button-prev {
    left: 40px;

    &.disc-button{
        
        left: 10px;
    }
}

.swiper-button-next {
    right: 40px;

    &.disc-button{
        
        right: 10px;
    }
}

@media (max-width: 768px){
    .swiper-button-prev {
        left: 20px;
    }
    
    .swiper-button-next {
        right: 20px;
    }
}

@media (max-width: 576px){
    .swiper-button-prev {
        left: 10px;
    }
    
    .swiper-button-next {
        right: 10px;
    }
}